package {{ package_name }}.domain.usecase

import kotlinx.coroutines.flow.Flow
import javax.inject.Inject

class {{ usecase_name }} @Inject constructor(
    private val repository: {{ repository_type }}
) {
    {{ invoke_signature }} {
        // TODO: implement
    }
}
